body {
    background-color: #0F144BFF;
    color: #fff;
    margin: 10rem 3rem 5rem 3rem;
}

p {
    width: 800px;
    line-height: 50px; /* distanza tra le linee di testo */
}

h1 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 160px;
}

h2 {
    font-weight: 650;
    font-size: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #fff; /* colore usato per i testi */
    text-decoration: none; /* rimozione della sottolineatura */
}

.container { /* Contenitore di tutta la pagina */
    text-align: center;
    justify-content: center;
    min-width: 300px;
}

.big_horizontal_images { /* Immagini grandi orizzontali (come quella d'inizio pagina) */
    width: 90%;
    float: right;
    margin-right: 20px;
}

.rounded_links_btn { /* Elementi rotondi che contengono collegamenti/link */
    font-size: 35px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    transition: 0.4s;
}

.rounded_links_btn:hover { /* Quello che succede quando ci passi sopra col mouse */
    color: #0F144BFF; /* stesso colore di sfondo */
    border-color: transparent;
    font-weight: bold;
    background-color: #fff;
    transition: 0.3s;
}

.links_containers { /* Contenitori che contengono oggetti con collegamenti/link */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 70px;
}

.sides_pages_imgs { /* Immagini che rappresentano le pagine "secondarie" */
    width: 270px;
    border-radius: 15%;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 70%) 30px 10px 300px;
}

.sides_pages_introductions { /* Introduzione alle pagine "secondarie" */
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: normal;
    width: 100%;
}

.subtitle_text_container {
    width: 60%;
    flex-direction: column;
    margin-right: 30px;
}

.subtitles {
    font-size: 3.5rem;
    font-weight: normal;
}

#main_content { /* Contenuto principale della pagina */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#go_back_btn { /* bottone per tornare indietro alla Home Page */
    align-items: center;
    border-color: transparent;
    background-color: transparent;
    margin-left: 2px;
}

#main_title { /* titolo della pagina principale */
    margin-top: 20px;
}

#introduction { /* introduzione della pagina */
    font-size: 24px;
}

#sides_pages { /* Pagine "secondarie" */
    margin-top: 150px;
    text-align: left;
}

#main_subtitle { /* sottotitolo della pagina principale */
    margin-bottom: 100px;
}

#main_img {
    margin-top: 10px;
    margin-right: -210px;
    border-top-left-radius: 25%;
}

/* Completare media query */
@media(width <= 768px) { /* px schermo di un tablet medio */
    #title {
        font-size: 100px;
    }

    /* cambiare anche line-height nei paragrafi */

    #introduction {
        font-size: 12px;
    }

    @media(width <= 425px) { /* px schermo telefono grande medio */

        @media(width <= 320px) { /* px schermo telefono piccolo medio */

        }
    }
}