header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(15, 20, 75, 1)), url("../../images/widescreen_style_img.jpg");
    width: auto;
    max-height: 50vh;
    background-position: top;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

.card_container {
    margin-top: 100px;
}

.k_titles {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card > img {
    height: 23.5rem;
    opacity: 30%;
    filter: grayscale(100%);
    transition: 0.4s;
}

.card:hover > img {
    filter: grayscale(0%);
}

.card {
    transition: 0.5s;
    margin-top: 10rem;
    width: 40rem;
    color: #fff;
}

.card:hover {
    scale: 105%;
}

.card-text {
     line-height: normal;
     text-shadow: #000 0 0;
}

@media (width <= 900px) {

    @media (width <= 570px) {

        @media (width <= 500px) {

            @media (width <= 450px) {

            }
        }
    }
}

@media (width >= 1400px) {
    #kumite_card {
        float: none;
        justify-self: center;
    }

    @media (width >= 1800px) {

    }
}