body {
    background-color: #0F144BFF;
    color: #fff;
}

p {
    max-width: 800px;
    line-height: 3rem; /* distanza tra le linee di testo */
    font-size: 1.5rem;
}

h1 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 10rem;
}

h2 {
    font-weight: 650;
    font-size: 3.7rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #fff; /* colore usato per i testi */
    text-decoration: none; /* rimozione della sottolineatura */
}

.container { /* Contenitore di tutta la pagina */
    margin: 0 3rem 5rem 3rem;
    text-align: center;
    justify-content: center;
    min-width: 300px;
}

@media (width <= 900px) {
    h1 {
        font-size: 7rem;
    }

    p {
        font-size: 1.2rem;
    }

    @media (width <= 570px) {
        @media (width <= 500px) {
            p {
                font-size: 1.1rem;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
    }
}

@media (width >= 1500px) {
    @media (width >= 1800px) {

    }
}