body {
    background-color: #0F144BFF;
    color: #fff;
    scroll-behavior: auto;
}

p {
    width: 800px;
    line-height: 50px; /* distanza tra le linee di testo */
}

h1 {
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 160px;
}

h2 {
    font-weight: 650;
    font-size: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #fff; /* colore usato per i testi */
    text-decoration: none; /* rimozione della sottolineatura */
}

.container { /* Contenitore di tutta la pagina */
    margin: 0 3rem 5rem 3rem;
    text-align: center;
    justify-content: center;
    min-width: 300px;
}

.rounded_links_btn { /* Elementi rotondi che contengono collegamenti/link */
    font-size: 35px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    transition: 0.4s;
}

.rounded_links_btn:hover { /* Quello che succede quando ci passi sopra col mouse */
    color: #0F144BFF; /* stesso colore di sfondo */
    border-color: transparent;
    font-weight: bold;
    background-color: #fff;
    transition: 0.3s;
}

.links_containers { /* Contenitori che contengono oggetti con collegamenti/link */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    margin-top: 70px;
}

.subtitle_text_container {
    width: 60%;
    flex-direction: column;
    margin-right: 30px;
}

.subtitles {
    font-size: 3.5rem;
    font-weight: normal;
}

/* Completare media query */
@media(width <= 768px) { /* px schermo di un tablet medio */

    @media(width <= 425px) { /* px schermo telefono grande medio */

        @media(width <= 320px) { /* px schermo telefono piccolo medio */

        }
    }
}